<div class="block_7" style="{{ data.props }}">
    <div class="block_7__left">
        <img src={{ data.img }} alt="Customer-1" class="block_7__left__img">
    </div>
        <div class="block_7__right  {{ data.pic_position }}">
            <h4 class="block_7__header">{{ data.header }}</h4>
            <p class="block_7__text">{{ data.text }}</p>
        </div>
</div>