{% set markets = [
    {
        img: "./assets/img/gallery_1-1.jpg",
        link: "#",
        icon: "./assets/img/svg/tyre.svg",
        text: "Automotive",
        id: "au"
    },   
    {
        img: "./assets/img/gallery_1-2.jpg",
        link: "#",
        icon: "./assets/img/svg/bolt.svg",
        text: "Electrical Insulation",
        id: "ei"
    },   
    {
        img: "./assets/img/gallery_1-3.jpg",
        link: "#",
        icon: "./assets/img/svg/v-engine.svg",
        text: "Home & Commercial Kitchen",
        id: "hc"
    },   
    {
        img: "./assets/img/gallery_1-4.jpg",
        link: "#",
        icon: "./assets/img/svg/pot.svg",
        text: "Small Engine",
        id: "se"
    },   
    {
        img: "./assets/img/gallery_1-5.jpg",
        link: "#",
        icon: "./assets/img/svg/light-bulb.svg",
        text: "Lighting",
        id: "lt"
    },   
    {
        img: "./assets/img/gallery_1-6.jpg",
        link: "#",
        icon: "./assets/img/svg/valve.svg",
        text: "Oil & Gas",
        id: "og"
    }   
] %}



{% set products = [
    {
        link: "#",
        text: "Phenolic Novolac <br>& Resol Resins"
    },   
    {
        link: "#",
        text: "Phenolic Molding Materials"
    },   
    {
        link: "#",
        text: "BMC/Thermoset Polyester Molding Materials"
    },   
    {
        link: "#",
        text: "Melamine-Phenolic Molding Materials"
    } 
] %}
    


<div class="p-0 nav_bottom__btn h84 position-absolute t-0 right-0 d-none d-xl-block">
    <button class="button_yellow_nav h-5">contact</button> 
</div>


<div class="row nav_bottom">
    <div class="nav_bottom_menu-wrap col px-2 pt-0 pb-0 h84 pr-0">
        <div class="nav_bottom_menu container cont-site h-100 d-flex align-items-center justify-between">
            <img class="nav_bottom__logo w-52 max-h-16" src="./assets/img/svg/plenco_logo_1.svg" alt="Plenco Logo" > 
            <div class="nav_bottom__links d-none d-md-flex align-items-center justify-between ml-8">
                <div class="nav_bottom__link-cont d-flex align-items-center cursor-pointer" id="nav_bottom__markets-btn" data-submenu="markets">
                    <span href="#" class="nav_bottom__link">Markets & Applications</span> 
                </div>
                <div class="nav_bottom__link-cont d-flex align-items-center cursor-pointer" id="nav_bottom__products-btn" data-submenu="products">
                    <span href="#" class="nav_bottom__link mx-0 mx-lg-0">Products</span>
                </div>
                <div class="nav_bottom__link-cont d-flex align-items-center">
                    <a href="#" class="nav_bottom__link">Reports & Resources</a>    
                </div>
                <div class="p-0 nav_bottom__btn_yellow d-inline-block d-xl-none ml-8">
                    <button class="button_yellow_nav h-5">contact</button> 
                </div>

            </div>
            <div class="nav_bottom__btn_mob d-inline-block d-md-none h-20  d-xl-none ml-8 p-0" >
                <button class="button_yellow_nav_mob h-5 d-flex flex-col justify-content-end pb-2" id="nav__btn_mob">
                    <div class="button_yellow_nav_mob__top_left button_yellow_nav_mob_anim position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__top_right button_yellow_nav_mob_anim position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__middle position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__bottom_left button_yellow_nav_mob_anim position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__bottom_right button_yellow_nav_mob_anim position-absolute bg-black"></div>
                    <div class="button_yellow_nav_mob__text-cont d-block h-4 overflow-hidden">
                        <span class="button_yellow_nav_mob__text_1 uppercase d-block">menu</span>
                        <span class="button_yellow_nav_mob__text_2 uppercase d-block">exit</span>
                    </div>
                </button> 
            </div>

        </div>
    </div>

    <div class="nav_bottom__drop__cont mx-0 px-0 position-relative overflow-hidden">
        <div class="nav_bottom__drop overflow-hidden px-0 position-relative" id="nav_bottom__drop">
            <div class="nav_bottom__drop__cont-1 overflow-hidden">
                <div class="nav_bottom__drop__input-block w-100 d-flex align-items-center position-relative">
                    <div class="nav_bottom__drop__input-cont w-100 d-flex justify-between align-items-center">
                        <input type="text" class="nav_bottom__drop__input col h-100" placeholder="Search">
                        <button class="nav_bottom__drop__input-btn h-5 w-5 mx-3"></button>
                    </div>

                    <button class="nav_bottom__drop__back position-absolute d-flex align-items-center" id="nav_bottom__drop__back">
                        <div class="nav_bottom__drop__back__arrow position-relative"></div>
                        <p class="nav_bottom__drop__back__text my-0 ml-3">Back to the Main Menu</p>    
                    </button>
                </div>

                <div class="nav_bottom__drop__block_1 opened" id="nav_bottom__drop__block-1">
                    <button class="nav_bottom__btn_1 w-100 h-16 text-white uppercase mt-2" data-submenu="markets_mob">Markets & Applications</button>
                    <button class="nav_bottom__btn_1 w-100 h-16 text-white uppercase mt-3" data-submenu="products_mob">Products</button>
                    <button class="nav_bottom__btn_1 w-100 h-16 text-white uppercase mt-3">Reports & Resources</button>
                    <button class="nav_bottom__btn_1 nav_bottom__btn_1_spec w-100 h-16 text-black uppercase mt-3 position-relative d-flex align-items-center justify-center">Contact</button>
                </div>
            </div>
            



            <div class="nav_bottom__drop__cont-add-menu overflow-hidden" id="nav_bottom__markets">
                <h2 class="nav_bottom__drop__add-menu__header text-white">Markets & Applications</h2>
                <div class="nav_bottom__drop__add-menu__links d-flex flex-col">
                    {% for item in markets %}
                    <a href={{ item.link }}>
                        <div class="nav_bottom__drop__add-menu__link-cont d-flex justify-between align-items-center w-100">
                            <p class="nav_bottom__drop__add-menu__link_text text-white my-0 capitalize text-left">{{ item.text }}</p>
                            <div class="nav_bottom__drop__add-menu__arrow position-relative"></div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <button class="nav_bottom__drop__add-menu__button button_yellow" id="nav_bottom__view-markets">View All<br>Markets & Applications</button>
            </div>



            <div class="nav_bottom__drop__cont-add-menu overflow-hidden" id="nav_bottom__products">
                <h2 class="nav_bottom__drop__add-menu__header text-white">Plenco’s Products</h2>
                <div class="nav_bottom__drop__add-menu__links d-flex flex-col">
                    {% for item in products %}
                    <a href={{ item.link }}>
                        <div class="nav_bottom__drop__add-menu__link-cont d-flex justify-between align-items-center w-100">
                            <p class="nav_bottom__drop__add-menu__link_text text-white my-0 capitalize text-left">{{ item.text }}</p>
                            <div class="nav_bottom__drop__add-menu__arrow position-relative"></div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <button class="nav_bottom__drop__add-menu__button nav_bottom__drop__add-menu__button_products button_yellow" id="nav_bottom__view-products">View All products</button>
            </div>





            <div class="nav_bottom__drop__cont-2 opened">
                <div class="nav_bottom__drop__block_2 d-flex flex-wrap justify-around"  id="nav_bottom__drop__block-2">
                    <button class="nav_bottom__btn_2 text-white h-12 col-5">About</button>
                    <button class="nav_bottom__btn_2 text-white h-12 col-5">Facility</button>
                    <button class="nav_bottom__btn_2 text-white h-12 col-5">Research & Development</button>
                    <button class="nav_bottom__btn_2 text-white h-12 col-5">News</button>
                    <button class="nav_bottom__btn_2 text-white h-12 col-5">Certifications</button>
                    <button class="nav_bottom__btn_2 text-white h-12 col-5">Careers</button>
                </div>
            </div>
        </div>
    </div>




    <div class="nav-section_markets" id="nav-section_markets">
        <div class="container">
            <h2 class="nav-section_markets__header text-white mb-0">Markets & Applications</h2>
            <div class="nav-section_markets__items d-flex justify-between flex-wrap">
                {% for item in markets %}
                    <div class="nav-section_markets__item d-flex align-items-center cursor-pointer">
                        <img src={{ item.icon }} alt={{ item.text }} class="nav-section_markets__item__icon">
                        <p class="nav-section_markets__item__text text-white ml-5 mb-0 text-capitalize">{{ item.text }}</p>
                    </div>
                {% endfor %}
            </div>
            <button class="nav-section_markets__button button_yellow col-6 ml-auto mr-auto mt-20" id="nav-section_markets__view-all">View all Markets & Applications</button>
        </div>
    </div>


    <div class="nav-section_products" id="nav-section_products">
        <div class="container">
            <h2 class="nav-section_products__header text-white mb-0">Plenco’s Products</h2>
            <div class="nav-section_products__items d-flex justify-between flex-wrap">
                {% for item in products %}
                    <div class="nav-section_products__item d-flex align-items-center cursor-pointer py-4">
                        <div class="nav-section_products__item__inner-cont d-flex align-items-center pb-4">
                            <p class="nav-section_products__item__text text-white ml-0 mb-0 text-capitalize">{{ item.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="nav-section_products__button button_yellow col-5 ml-auto mr-auto mt-20" id="nav-section_products__view-all">View all Products</button>
        </div>
    </div>

</div>




